.auth-container {
  height: 100vh;
  background-color: #cfddc8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-box h1 {
  text-align: center;
  color: #768f74;
  margin-bottom: 10px;
}

.auth-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-box button {
  background-color: #768f74;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-box button:hover {
  background-color: #5c725b;
}
