.dashboard-box ul {
  list-style: none;
  padding: 0;
}

.dashboard-box li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.dashboard-box input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.dashboard-box button {
  background-color: #7da87b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dashboard-box button:hover {
  background-color: #6a926a;
}

.dashboard-box .crear-btn {
  background-color: #758e74;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.dashboard-box .crear-btn:hover {
  background-color: #60745e;
}
